<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<name>cordova-plugin-largeheap_v1.0-</name>
  <platform name="android">
    <edit-config file="AndroidManifest.xml" 
		 target="/manifest/application" 
		 mode="merge">
     <application android:largeHeap="true"/>
    </edit-config>
  </platform>
